# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# local env files
.env
.env*.local

# local sqlite db
*.db
*.db-journal
*.db-shm
*.db-wal

# testing
/coverage
/playwright-report
/test-results
/playwright/.cache

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
